*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
data/
dask-worker-space/
*.gz
*.RDS
*.rds
*.fst
*.json
*.png
*.pdf
*.Rmd

ML for ESKD/*.gz
ML for ESKD/*.xlsx
ML for ESKD/*.tsv
ML for ESKD/*.csv
ML for ESKD/*.html
ML for ESKD/*.txt


ml_eskd_new/*
old_data/
script/
.ipynb_checkpoints/
.vscode/

experiment.R
utility_functions_for_WA.R
backup_utility.R
dynamic_plot.Rmd
.Rproj.user
